.about-main-section {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-grow: 1;
  height: 60vh;
}

.mission-section {
  width: 100%;
  height: 100%;
  max-width: 50%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-text {
  margin: 0;
}

.mission-description {
  text-indent: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-section {
  width: 100%;
  height: 100%;
  max-width: 50%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.contact-title {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-subtitle {
  margin-top: 50px;
}

.adventure-img {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adventure-img img {
  margin: 5px;
  height: 50%;
  width: 50%;
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 768px) {
  .about-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .mission-section {
    margin: 0;
    min-width: 240px;
  }

  .mission-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  .mission-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .contact-section {
    margin: 0;
    min-width: 240px;
  }
  
  .upper-class img {
    width: 80px;
    height: 80px;
  }
  
  .lower-class img {
    width: 80px;
    height: 80px;
  }

}

