@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(#270F36, #642B6B, #C86B98);
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo img {
  width: 60px;
  height: 60px;
}

.brand-logo-name {
  margin-left: 1rem;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.btn {
  color: white;
  background-color: #FD9D7F;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 168px;
}

.btn:hover {
  opacity: 0.9;
}

@media (max-width: 620px) {
  * {
    font-size: 0.95em;
  }

  .main-header {
    margin-top: 0px;
    height: 120px;
  }

  .title {
    text-align: center;
    margin-top: 100px;
  }

  .subtitle {
    text-align: center;
  }

  .main-footer {
    display: flex;
    flex-direction: column;
  }

  .footer-title {
    margin: 0 auto;
    height: 20vh;
  }
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  flex-grow: 1;
  max-width: 1200px;
}

.main-footer a {
  text-decoration: none;
  color: inherit;
}

.main-footer a:hover{
  color: #adadad;
}

.footer-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between ;
  padding: 0;
}

.footer-list li {
  margin: 20px;
}

.footer-contact {
  display: flex;
  align-items: center;
}

.footer-contact p {
  margin: 20px;
}

.address:hover {
  color: #adadad;
}